doctype html
html(lang="en")
head
title GE - Aviation
link(rel='stylesheet', href='/stylesheets/style.css')
body
header Schedule Analysis
form
div
input(type='file' id='file-upload' name='fileupload' class='inputfile') 
label(for='file-upload')  Choose a file
div(id='file-upload-filename')
div
input(type='submit' name='uploadfile', value='Upload File')
footer
include footer.pug