doctype html
html
  head
    title GE - Aviation
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Schedule Analysis
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
